* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.calculator {
    flex-shrink: 0;
    overflow: hidden;
    width: 410px;
    height: 721px;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 8px 9px 12px rgba(61, 61, 61, 0.4);
}

.screen {
    width: 100%;
    position: absolute;
    top: 73px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#calculations {
    font-size: 115px;
    margin-right: 32px;
}

#append {
    font-size: 30px;
    margin-right: 32px;
    opacity: 0.8;
}

.keypad {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 61px);
    grid-template-rows: repeat(5, 61px);
    gap: 30px;
    padding: 22px 30px;
    background-color: rgba(203, 214, 222, 0.5);
    // background: linear-gradient(180deg, rgba(207, 207, 220, 0.3) 0%, rgba(114, 114, 127, 0) 100%);
}

.btn {
    border-radius: 12px;
    font-size: 1.5em;
    background-color: #fbfdff;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    box-shadow: -2px 2px 12px rgba(61, 61, 61, 0.181);
}

.btn::after {
    position: absolute;
    content: "";
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    width: 5px;
    height: 5px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform-origin: center;
    transition: 0.2s all linear;
}

.btn:hover::after {
    opacity: 0.2;
    transform: scale(35);
}

.btn:active::after {
    opacity: 0.4;
    transform: scale(35);
}

.long {
    grid-column: 1 / 3;
}

.control {
    background-color: #eff5fa;
}

.round {
    border-radius: 50px;
}

.equal {
    background: none;
}

.small-text {
    font-size: 2em;
}
